<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="/api/loginUser">
        <input placeholder="enter your email id" name="email">
        <br>
        <br>
        <input placeholder="enter your password" name="password">
        <br>
        <br>
        <input type="submit" value="submit">    
        <% if (locals.error) { %>
            <p style="color:red"><%= error %></p>
        <% } %>
    </form>
    
</body>
</html>