<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/api/registerUser">
        <input placeholder="enter your full name = " name="fullName" type="text">
        <br>
        <input placeholder="enter your email address = " name="email" type="email">
        <br>
        <input placeholder="enter your password" name="password" type="password">
        <br>
        <input type="submit" value="submit">
        <br>  
    </form>
</body>
</html>